<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUD</key>
	<string></string>
	<key>CAD</key>
	<string></string>
	<key>CHF</key>
	<string></string>
	<key>DKK</key>
	<string></string>
	<key>EUR</key>
	<string></string>
	<key>GBP</key>
	<string></string>
	<key>HKD</key>
	<string></string>
	<key>JPY</key>
	<string></string>
	<key>KRW</key>
	<string></string>
	<key>MOP</key>
	<string></string>
	<key>NOK</key>
	<string></string>
	<key>NZD</key>
	<string></string>
	<key>PHP</key>
	<string></string>
	<key>RUB</key>
	<string></string>
	<key>SEK</key>
	<string></string>
	<key>SGD</key>
	<string></string>
	<key>THB</key>
	<string></string>
	<key>USD</key>
	<string></string>
</dict>
</plist>
