<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CNY</key>
	<string>人民币</string>
	<key>HKD</key>
	<string>港元</string>
	<key>TWD</key>
	<string>台币</string>
	<key>EUR</key>
	<string>欧元</string>
	<key>USD</key>
	<string>美元</string>
	<key>GBP</key>
	<string>英镑</string>
	<key>AUD</key>
	<string>澳元</string>
	<key>KRW</key>
	<string>韩元</string>
	<key>JPY</key>
	<string>日元</string>
	<key>ARS</key>
	<string>阿根廷比索</string>
	<key>EGP</key>
	<string>埃及镑</string>
	<key>AED</key>
	<string>阿联酋迪拉姆</string>
	<key>BHD</key>
	<string>巴林第纳尔</string>
	<key>BRL</key>
	<string>巴西里亚伊</string>
	<key>PKR</key>
	<string>巴基斯坦卢比</string>
	<key>PLN</key>
	<string>波兰兹罗提</string>
	<key>DKK</key>
	<string>丹麦克朗</string>
	<key>RUB</key>
	<string>俄罗斯卢布</string>
	<key>FJD</key>
	<string>斐济元</string>
	<key>PHP</key>
	<string>菲律宾比索</string>
	<key>KZT</key>
	<string>哈萨克斯坦腾格</string>
	<key>CAD</key>
	<string>加拿大元</string>
	<key>CZK</key>
	<string>捷克克朗</string>
	<key>HRK</key>
	<string>克罗地亚库纳</string>
	<key>KES</key>
	<string>肯尼亚先令</string>
	<key>KWD</key>
	<string>科威特第纳尔</string>
	<key>QAR</key>
	<string>卡塔尔利尔</string>
	<key>MYR</key>
	<string>马来西亚林吉特</string>
	<key>MXN</key>
	<string>墨西哥比索</string>
	<key>PEN</key>
	<string>秘鲁索尔</string>
	<key>NPR</key>
	<string>尼泊尔卢比</string>
	<key>NGN</key>
	<string>尼日利亚奈拉</string>
	<key>NOK</key>
	<string>挪威克朗</string>
	<key>ZAR</key>
	<string>南非兰特</string>
	<key>SEK</key>
	<string>瑞典克朗</string>
	<key>CHF</key>
	<string>瑞士法郎</string>
	<key>SAR</key>
	<string>沙特阿拉伯里亚尔</string>
	<key>SCR</key>
	<string>塞舌尔法郎</string>
	<key>LKR</key>
	<string>斯里兰卡卢比</string>
	<key>TRY</key>
	<string>土耳其新里拉</string>
	<key>THB</key>
	<string>泰国铢</string>
	<key>BND</key>
	<string>文莱元</string>
	<key>UAH</key>
	<string>乌克兰赫夫米</string>
	<key>VND</key>
	<string>越南盾</string>
	<key>NZD</key>
	<string>新西兰元</string>
	<key>SGD</key>
	<string>新加坡元</string>
	<key>INR</key>
	<string>印度卢比</string>
	<key>IDR</key>
	<string>印度尼西亚卢比(盾)</string>
	<key>ILS</key>
	<string>以色列镑</string>
	<key>JMD</key>
	<string>牙买加元</string>
	<key>CLP</key>
	<string>智利比索</string>
	<key>MOP</key>
	<string>澳门元</string>
</dict>
</plist>
